<body>
  <div class="mainContent">
    <header>
      <div class="logo" (click)="navigateToHome()"></div>
      <div class="goHome">
        <mat-icon class="home-icon" (click)="navigateToHome()">home</mat-icon>
      </div>
    </header>
    <div class="nameProject">WOLFRAM ABSOLUTE</div>
    <div class="nameProjectDop">MATRIX OPERATIONS</div>
    <div class="calculator">
      <div class="btn-container">
        <button class="large-button" (click)="openModal()">
          Добавить матрицу
        </button>
        <button class="large-button" (click)="sendData()">Вычислить</button>
      </div>
      <div class="operations-container" *ngIf="firstMatrixAdded">
        <button class="operation-button" (click)="add()">+</button>
        <button class="operation-button" (click)="multiply()">
          <mat-icon>clear</mat-icon>
        </button>
        <button class="operation-button" (click)="divide()">/</button>
        <button class="operation-button" (click)="transpose()">T</button>
      </div>
      <div class="input-container" *ngIf="selectedMatrix.length > 0">
        <mat-icon class="delete-icon" (click)="deleteAllAndClose()"
          >delete_forever</mat-icon
        >
        <div class="matrix" *ngIf="selectedMatrix[0]">
          <span class="bracket" #leftBracket>[</span>

          <div class="matrix-content">
            <div
              class="matrix-row"
              *ngFor="let row of selectedMatrix[0]; let i = index"
            >
              <div *ngFor="let item of row; let j = index">
                <input
                  class="matrix-cell"
                  #input
                  [(ngModel)]="item.value"
                  (keyup.enter)="focusNextInput(0, i, j)"
                />
              </div>
            </div>
          </div>
          <span class="bracket" #rightBracket>]</span>
        </div>
        <div class="operation-container">
          <div
            class="operation-display"
            [class.transpose-operation]="currentOperation === 'T'"
          >
            {{ currentOperation }}
          </div>
        </div>
        <div class="matrix" *ngIf="selectedMatrix[1]">
          <span class="bracket" #leftBracket2>[</span>

          <div class="matrix-content">
            <div
              class="matrix-row"
              *ngFor="let row of selectedMatrix[1]; let i = index"
            >
              <div *ngFor="let item of row; let j = index">
                <input
                  class="matrix-cell"
                  #input
                  [(ngModel)]="item.value"
                  (keyup.enter)="focusNextInput(1, i, j)"
                />
              </div>
            </div>
          </div>
          <span class="bracket" #rightBracket2>]</span>
        </div>
        <!-- <div class="matrix" #matrix2Container>
          <span class="bracket" #leftBracket>[</span>
          <div class="matrix-content">
            <div
              class="matrix-row"
              *ngFor="let row of selectedMatrix; let i = index"
            >
              <div *ngFor="let item of row; let j = index">
                <input
                  class="matrix-cell"
                  #input
                  [(ngModel)]="item.value"
                  (keyup.enter)="focusNextInput(i, j)"
                />
              </div>
            </div>
          </div>
          <span class="bracket" #rightBracket>]</span>
        </div> -->
      </div>
      <div class="modal" *ngIf="isModalOpen">
        <div class="modal-content">
          <mat-icon class="close-icon" (click)="isModalOpen = false"
            >close</mat-icon
          >
          <div class="grid-container">
            <button
              class="grid-item"
              *ngFor="let item of gridItems; let i = index"
              [class.highlight]="isHighlighted(i)"
              (mouseenter)="onMouseEnter(i)"
              (mouseleave)="onMouseLeave()"
              (click)="selectMatrixSize(i)"
            ></button>
          </div>
        </div>
      </div>
      <div class="result">
        <div class="nameResult">Result:</div>
        <div class="numberResult">
          <span class="bracket" *ngIf="serverResponse.length" #leftBracket3
            >[</span
          >
          <table>
            <tr class="matrix-row" *ngFor="let row of serverResponse">
              <td class="matrix-cell" *ngFor="let cell of row">
                {{ cell }}
              </td>
            </tr>
          </table>
          <span class="bracket" *ngIf="serverResponse.length" #rightBracket3
            >]</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="backImage"></div>
</body>
