
body {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0F102B;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  height: 100vh;
}
.mainContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: 80%;
}
.backImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/P3vowqA.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
.logo {
cursor: pointer;
top: 15%;
text-align: center;
width: 135px;
height: 50px;
background-image: url(https://i.imgur.com/I1VDLHu.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.nameProject {
text-align: center;
color: #FFF;
font-family: "KoHo", sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 10px;
}
.home-icon {
cursor: pointer;
font-size: 24px;
color: #D9D9D9;
z-index: 1000;
}
.goHome {
position: absolute;
top: 0;
width: 100%;
height: 50px;
padding: 20px;
}
h1 {
  color: #737483;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;

}
.formContent {
  width: 100%;
}
form {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 580px;
max-width: 680px;
width: 100%;
padding: 50px;
background-color: #23243C;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
margin: 0 auto; 
}
.field {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 30px;
width: 100%;
}
input {
padding-left: 10px;
font-size: 18px;
max-width: 400px;
width: 100%;
height: 55px;
border: none;
border-radius: 10px;
background-color: #434459;
color: #737483;
}


button {
cursor: pointer;
max-width: 400px;
width: 100%;
height: 55px;
border: none;
background-color: #D9D9D9;
color: #737483;
border-radius: 40px;
font-size: 18px;
}
.addOption {
font-size: 16px;
margin-top: 10px;
color: #737483;

}
.addOption a {
color: #737483;
}
.p-error {
position: absolute;
margin-left: 10px;
top: 55px;
text-align: center;
color: red;
font-size: 16px;
}
input.error {
border: 1px solid red;
}
