<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
  rel="stylesheet"
/>
<body>
  <div class="mainContent">
    <header>
      <div class="logo" (click)="navigateToHome()"></div>
      <div class="goHome">
        <mat-icon class="home-icon" (click)="navigateToHome()">home</mat-icon>
      </div>
    </header>
    <div class="nameProject">WOLFRAM ABSOLUTE</div>
    <div class="nameProjectDop">ARITHMETIC</div>
    <div class="calculator">
      <div class="input-container">
        <div class="formInput" [formGroup]="form">
          <input
            #inputArithmetic
            type="text"
            formControlName="inputArithmetic"
            (keydown)="handleBackspace($event)"
            (keypress)="preventRussianCharacters($event)"
            name="inputArithmetic"
            placeholder="Start typing..."
          />
          <div class="equels">
            <img
              src="/assets/img/Equel.png"
              alt="My Image"
              (click)="sendData()"
            />
          </div>
        </div>
        <div
          class="additional-buttons"
          [ngStyle]="{
            'padding-bottom':
              showLibraryList || isFunctionsVisible ? '100px' : '0'
          }"
        >
          <div class="containerList">
            <button
              #btnLibrary
              (click)="toggleLibraryList()"
              class="btnLibrary"
            >
              {{ selectedLibrary }}
              <mat-icon>{{
                showLibraryList ? "keyboard_arrow_up" : "keyboard_arrow_down"
              }}</mat-icon>
            </button>
            <div *ngIf="showLibraryList" class="btnLibraryList">
              <ul>
                <li (click)="selectLibrary('C++')" class="btnLibraryItem">
                  C++
                </li>
                <li
                  (click)="selectLibrary('Java')"
                  class="btnLibraryItem lastItem"
                >
                  Java
                </li>
              </ul>
            </div>
          </div>
          <div class="containerThread">
            <button #btnThread (click)="toggleThreadList()" class="btnThread">
              threads {{ selectedThread }}
              <mat-icon>{{
                showThreadList ? "keyboard_arrow_up" : "keyboard_arrow_down"
              }}</mat-icon>
            </button>
            <div *ngIf="showThreadList" class="btnThreadList">
              <ul>
                <li
                  *ngFor="let thread of threads"
                  (click)="selectThread(thread)"
                  class="btnThreadItem"
                >
                  {{ thread }}
                </li>
              </ul>
            </div>
          </div>
          <button (click)="toggleHistoryList()" class="btnHistory">
            <mat-icon>history</mat-icon>
          </button>
          <button (click)="toggleFunctionList()" class="btnFunction">
            <mat-icon>calculate</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="isFunctionsVisible" class="function-buttons">
        <div>
          <button (click)="insertFunction('cos')">cos</button>
          <button (click)="insertFunction('sin')">sin</button>
          <button (click)="insertFunction('tan')">tg</button>
          <button (click)="insertFunction('ctg')">ctg</button>
        </div>
        <div>
          <button (click)="insertFunction('abs')">abs</button>
          <button (click)="insertFunction('acos')">acos</button>
          <button (click)="insertFunction('asin')">asin</button>
          <button (click)="insertFunction('atan')">atan</button>
        </div>
        <div>
          <button (click)="insertFunction('cbrt')">cbrt</button>
          <button (click)="insertFunction('ceil')">ceil</button>
          <button (click)="insertFunction('cosh')">cosh</button>
          <button (click)="insertFunction('exp')">exp</button>
        </div>
        <div>
          <button (click)="insertFunction('floor')">floor</button>
          <button (click)="insertFunction('log')">log</button>
          <button (click)="insertFunction('log10')">log10</button>
          <button (click)="insertFunction('log2')">log2</button>
        </div>
        <div>
          <button (click)="insertFunction('sinh')">sinh</button>
          <button (click)="insertFunction('sqrt')">sqrt</button>
          <button (click)="insertFunction('tanh')">tanh</button>
          <button (click)="insertFunction('signum')">signum</button>
        </div>
      </div>
      <div
        class="result"
        [ngStyle]="{
          transform: showLibraryList
            ? 'translateY(-160px)'
            : isFunctionsVisible
            ? 'translateY(110px)'
            : showThreadList
            ? 'translateY(-50px)'
            : 'translateY(-55px)'
        }"
      >
        Result: {{ serverResponse }}
      </div>
    </div>
  </div>
  <div class="backImage"></div>
</body>
