
body {
  position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mainContent {
  position: relative;
  z-index: 1;
}
.backImage {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/9klOJtW.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.languages {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  float: left;
  width: 200px;
  height: 150px;
}

.languageOptions {
  margin-top: 10px;
  width: 90%;
  height: 50%;
  border-radius: 20px;
  background-color: #23243C;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.languageButton {
  color: #FFF;
  border: none;
  font-family: "Inter", sans-serif;
}
.logo {
    float: left;
    width: 135px;
    height: 100px;
    background-image: url(https://i.imgur.com/I1VDLHu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.authButtons {
    padding: 20px 20px 0 0;
    text-align: right;
}
button {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    cursor: pointer;
    background-color: transparent;
    margin-left: 10px;
}
.SignButton {
    width: 120px;
    height: 50px;
    border: none;
}
.SignUpButton {
    margin-left: 20px;
    padding: 0 20px;
    width: auto;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
}
.nameProject {
    color: #FFF;
    font-family: "KoHo", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12%;
}
.input {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rectangle {
    width: 650px;
    height: 85px;
    border-radius: 20px;
    background: #23243C;
    box-shadow: 10px 10px 48.8px 5px rgba(0, 0, 0, 0.25);
}
/* .equals {
    float: right;
    width: 95px;
    height: 172px;
    background-image: url(https://i.imgur.com/SZCOqy0.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */


/* .formContainer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}
.formList {
    width: 20%;
    height: 30%;
    border-radius: 20px;
    background: #23243C;
    box-shadow: 10px 10px 48.8px 5px rgba(0, 0, 0, 0.25);
} */
.formContainer {
  width: 70%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  margin-left: auto; /* Центрируем контейнер по горизонтали */
  margin-right: auto;
}

.formList {
  height: 400px; /* Изменяем высоту форм на автоматическую */
  border-radius: 20px;
  background: #23243C;
  box-shadow: 10px 10px 48.8px 5px rgba(0, 0, 0, 0.25);
  overflow: auto; /* Добавляем свойство overflow для скрытия контента, который вылезает */
}

/* Добавляем медиа-запросы для разных размеров экранов */

@media (min-width: 768px) {
  /* Для экранов шире 768px */
  .formContainer {
    flex-direction: row;
  }

  .formList {
    width: 30%; /* Например, формы будут занимать 30% от ширины контейнера */
  }
}

@media (max-width: 767px) {
  /* Для экранов до 767px */
  .formContainer {
    flex-direction: column;
  }

  .formList {
    width: 100%; /* Например, формы будут занимать 100% ширины контейнера в столбец */
    margin-bottom: 20px; /* Добавляем отступ между формами */
  }
}
.formName {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.listOperation {
    color: #FFF;
    list-style-type: none; /* Убирает маркеры списка */
    padding: 0; /* Убирает отступы */
    padding: 10px;
}

.listOperation li {
    opacity: 0.7;
    padding: 10px; 
    margin-bottom: 10px;/* Добавляет отступы вокруг каждого элемента списка */
    font-size: 16px; /* Устанавливает размер шрифта */
    border: 1px solid #434459; 
    border-radius: 10px;
}

