<body>
  <div class="mainContent">
    <header>
      <div class="logo" (click)="reloadPage()"></div>
      <div class="languages">
        <button (click)="toggleLanguageOptions()" class="languageButton">
          {{ languageService.activeLanguage }}
        </button>
        <div *ngIf="showLanguageOptions" class="languageOptions">
          <button (click)="setActiveLanguage('RU')" class="languageButton">
            RU
          </button>
          <button (click)="setActiveLanguage('BY')" class="languageButton">
            BY
          </button>
          <button (click)="setActiveLanguage('EN')" class="languageButton">
            EN
          </button>
        </div>
      </div>
      <div class="authButtons">
        <div *ngIf="authService.isUserLoggedIn(); else loginButtons">
          <button class="SignButton" (click)="navigateToAccount()" i18n>
            {{ "home.account" | translate : languageService.locale.language }}
          </button>
          <button class="SignUpButton" (click)="signOut()">
            {{ "home.SignOut" | translate : languageService.locale.language }}
          </button>
        </div>

        <ng-template #loginButtons>
          <button class="SignButton" (click)="navigateToAccount()">
            {{ "home.account" | translate : languageService.locale.language }}
          </button>
          <button class="SignButton" (click)="navigateToLogin()">
            {{ "home.about" | translate : languageService.locale.language }}
          </button>
          <button class="SignButton" (click)="navigateToLogin()">
            {{ "home.SignIn" | translate : languageService.locale.language }}
          </button>
          <button class="SignUpButton" (click)="navigateToRegister()">
            {{ "home.SignUp" | translate : languageService.locale.language }}
          </button>
        </ng-template>
      </div>
    </header>
    <div class="content">
      <div class="nameProject">WOLFRAM ABSOLUTE</div>
      <div class="container">
        <button (click)="navigateToArithmetic()">
          {{ "home.arithmetic" | translate : languageService.locale.language }}
        </button>
        <button (click)="navigateToNumberSystems()">
          {{
            "home.numberSystems" | translate : languageService.locale.language
          }}
        </button>
        <button (click)="navigateToMatrixOperations()">
          {{
            "home.matrixOperation" | translate : languageService.locale.language
          }}
        </button>
        <button (click)="navigateToCompoundInterest()">
          {{
            "home.compound-interest"
              | translate : languageService.locale.language
          }}
        </button>
        <button (click)="navigateToSlau()">
          {{ "home.slau" | translate : languageService.locale.language }}
        </button>
        <button (click)="navigateToIntegral()">
          {{ "home.integral" | translate : languageService.locale.language }}
        </button>
      </div>
    </div>
  </div>
  <div class="backImage"></div>
</body>
