<body>
  <div class="mainContent">
    <header>
      <div class="logo" (click)="navigateToHome()"></div>
      <div class="goHome">
        <mat-icon class="home-icon" (click)="navigateToHome()">home</mat-icon>
      </div>
    </header>
    <div class="content">
      <div class="nameProject">WOLFRAM ABSOLUTE</div>
      <div class="nameProjectDop">INTEGRAL OPERATIONS</div>
      <div class="calculator">
        <div class="input-container">
          <div class="formInput" [formGroup]="form">
            <input
              #inputArithmetic
              type="text"
              formControlName="inputArithmetic"
              (keydown)="handleBackspace($event)"
              (keypress)="
                preventRussianCharacters($event);
                preventUpperCaseCharacters($event)
              "
              name="inputArithmetic"
              placeholder="Start typing..."
            />
            <div class="equels">
              <img
                #image
                src="/assets/img/Equel.png"
                alt="My Image"
                (click)="sendData()"
              />
            </div>
          </div>
          <div class="additional-buttons">
            <div class="containerList">
              <button
                #btnLibrary
                (click)="toggleLibraryList()"
                class="btnLibrary"
              >
                {{ selectedLibrary }}
                <mat-icon>{{
                  showLibraryList ? "keyboard_arrow_up" : "keyboard_arrow_down"
                }}</mat-icon>
              </button>
              <div *ngIf="showLibraryList" class="btnLibraryList">
                <ul>
                  <li (click)="selectLibrary('C++')" class="btnLibraryItem">
                    C++
                  </li>
                  <li
                    (click)="selectLibrary('Java')"
                    class="btnLibraryItem lastItem"
                  >
                    Java
                  </li>
                </ul>
              </div>
            </div>
            <div class="containerThread">
              <button #btnThread (click)="toggleThreadList()" class="btnThread">
                threads {{ selectedThread }}
                <mat-icon>{{
                  showThreadList ? "keyboard_arrow_up" : "keyboard_arrow_down"
                }}</mat-icon>
              </button>
              <div *ngIf="showThreadList" class="btnThreadList">
                <ul>
                  <li
                    *ngFor="let thread of threads"
                    (click)="selectThread(thread)"
                    class="btnThreadItem"
                  >
                    {{ thread }}
                  </li>
                </ul>
              </div>
            </div>
            <button (click)="toggleHistoryList()" class="btnHistory">
              <mat-icon>history</mat-icon>
            </button>
            <button (click)="toggleFunctionList()" class="btnFunction">
              <mat-icon>calculate</mat-icon>
            </button>
          </div>
        </div>

        <div *ngIf="isFunctionsVisible" class="function-buttons">
          <div>
            <button
              (click)="insertFunction('cos')"
              title="{{ funcDescriptions['cos'] }}"
            >
              cos
            </button>
            <button
              (click)="insertFunction('acos')"
              title="{{ funcDescriptions['acos'] }}"
            >
              acos
            </button>
            <button
              (click)="insertFunction('cosh')"
              title="{{ funcDescriptions['cosh'] }}"
            >
              cosh
            </button>
          </div>
          <div>
            <button
              (click)="insertFunction('sin')"
              title="{{ funcDescriptions['sin'] }}"
            >
              sin
            </button>

            <button
              (click)="insertFunction('asin')"
              title="{{ funcDescriptions['asin'] }}"
            >
              asin
            </button>
            <button
              (click)="insertFunction('sinh')"
              title="{{ funcDescriptions['sinh'] }}"
            >
              sinh
            </button>
          </div>
          <div>
            <button
              (click)="insertFunction('tan')"
              title="{{ funcDescriptions['tan'] }}"
            >
              tg
            </button>

            <button
              (click)="insertFunction('atan')"
              title="{{ funcDescriptions['atan'] }}"
            >
              atan
            </button>
            <button
              (click)="insertFunction('tanh')"
              title="{{ funcDescriptions['tanh'] }}"
            >
              tanh
            </button>
          </div>
          <div>
            <button
              (click)="insertFunction('ctg')"
              title="{{ funcDescriptions['ctg'] }}"
            >
              ctg
            </button>
            <button
              (click)="insertFunction('abs')"
              title="{{ funcDescriptions['abs'] }}"
            >
              abs
            </button>
            <button
              (click)="insertFunction('sqrt')"
              title="{{ funcDescriptions['sqrt'] }}"
            >
              sqrt
            </button>
          </div>
          <div>
            <button
              (click)="insertFunction('log')"
              title="{{ funcDescriptions['log'] }}"
            >
              log
            </button>
            <button
              (click)="insertFunction('log2')"
              title="{{ funcDescriptions['log2'] }}"
            >
              log2
            </button>
            <button
              (click)="insertFunction('log10')"
              title="{{ funcDescriptions['log10'] }}"
            >
              log10
            </button>
          </div>
        </div>
      </div>
      <div class="more-inputs" [formGroup]="form">
        <div class="input-group">
          <input
            #initialCondition
            formControlName="initialCondition"
            required=""
            type="number"
            id="years"
            name="years"
            autocomplete="off"
            class="inputs"
            title="Начальное условие"
            placeholder=" "
          />

          <label
            class="user-label"
            for="additionalContributions"
            title="Начальное условие"
            ><span style="position: relative"
              >Y<span
                style="
                  position: absolute;
                  font-size: 12px;
                  margin-left: 0;
                  margin-right: 0;
                  right: -7px;
                  transform: translateY(0.3rem);
                "
                >0</span
              ></span
            ></label
          >
        </div>
        <div class="input-group">
          <input
            #startTime
            required=""
            type="number"
            class="inputs"
            title="Начальное время"
            placeholder=" "
          />

          <label
            class="user-label"
            for="additionalContributions"
            title="Начальное время"
            ><span style="position: relative"
              >T<span
                style="
                  position: absolute;
                  font-size: 12px;
                  margin-left: 0;
                  margin-right: 0;
                  right: -7px;
                  transform: translateY(0.3rem);
                "
                >0</span
              ></span
            ></label
          >
        </div>
        <div class="input-group">
          <input
            #endTime
            formControlName="endTime"
            required=""
            type="number"
            id="years"
            name="years"
            autocomplete="off"
            class="inputs"
            title="Конечное время"
            placeholder=" "
          />

          <label
            class="user-label"
            for="additionalContributions"
            title="Конечное время"
            ><span style="position: relative"
              >T<span
                style="
                  position: absolute;
                  font-size: 12px;
                  margin-left: 0;
                  margin-right: 0;
                  right: -7px;
                  transform: translateY(0.3rem);
                "
                >1</span
              ></span
            ></label
          >
        </div>
        <div class="input-group">
          <input
            #stepSize
            formControlName="stepSize"
            required=""
            type="number"
            id="years"
            name="years"
            autocomplete="off"
            class="inputs"
            title="Шаг интегрирования"
            placeholder=" "
            (change)="checkStepSize(+stepSize.value)"
          />

          <label
            class="user-label"
            for="additionalContributions"
            title="Шаг интегрирования"
            >Step Size</label
          >
        </div>
      </div>
      <div class="bottom-container">
        <div class="result">
          <div class="nameResult">Result:</div>
          <div class="numberResult" [innerHTML]="serverResponse">
            {{ serverResponse }}
          </div>
        </div>
        <button class="bin-button" (click)="clearForm()">
          <svg
            class="bin-top"
            viewBox="0 0 39 7"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line y1="5" x2="39" y2="5" stroke="white" stroke-width="4"></line>
            <line
              x1="12"
              y1="1.5"
              x2="26.0357"
              y2="1.5"
              stroke="white"
              stroke-width="3"
            ></line>
          </svg>
          <svg
            class="bin-bottom"
            viewBox="0 0 33 39"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask id="path-1-inside-1_8_19" fill="white">
              <path
                d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"
              ></path>
            </mask>
            <path
              d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z"
              fill="white"
              mask="url(#path-1-inside-1_8_19)"
            ></path>
            <path d="M12 6L12 29" stroke="white" stroke-width="4"></path>
            <path d="M21 6V29" stroke="white" stroke-width="4"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="backImage"></div>
</body>
