<body style="background-image: url(https://i.imgur.com/P3vowqA.png)">
  <div class="mainContent">
    <div class="logo" (click)="navigateToHome()"></div>
    <div class="nameProject">WOLFRAM ABSOLUTE</div>
    <div class="formContent">
      <form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
        <div class="menuBar">
          <div class="goHome">
            <mat-icon class="home-icon" (click)="navigateToHome()"
              >home</mat-icon
            >
          </div>
          <div class="languages">
            <button
              type="button"
              (click)="toggleLanguageOptions()"
              class="languageButton"
            >
              {{ languageService.activeLanguage }}
            </button>
            <div *ngIf="showLanguageOptions" class="languageOptions">
              <button (click)="setActiveLanguage('RU')" class="languageButton">
                RU
              </button>
              <button (click)="setActiveLanguage('BY')" class="languageButton">
                BY
              </button>
              <button (click)="setActiveLanguage('EN')" class="languageButton">
                EN
              </button>
            </div>
          </div>
        </div>
        <h1 class="form-title">
          {{ "register.welcome" | translate : languageService.locale.language }}
        </h1>
        <div class="field">
          <input
            type="text"
            formControlName="username"
            name="username"
            placeholder="{{
              'register.username' | translate : languageService.locale.language
            }}"
            [class.error]="
              username.invalid && (username.dirty || username.touched)
            "
          />
          <small
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="block p-error"
          >
            <div *ngIf="username.errors?.['required']">
              {{
                "register.nameRequired"
                  | translate : languageService.locale.language
              }}
            </div>
            <div *ngIf="username.errors?.['pattern']">
              {{
                "register.validName"
                  | translate : languageService.locale.language
              }}
            </div>
          </small>
        </div>
        <div class="field">
          <input
            type="text"
            formControlName="email"
            name="email"
            placeholder="{{
              'register.email' | translate : languageService.locale.language
            }}"
            [class.error]="email.invalid && (email.dirty || email.touched)"
          />
          <small
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="block p-error"
          >
            <div *ngIf="email.errors?.['required']">
              {{
                "register.emailRequired"
                  | translate : languageService.locale.language
              }}
            </div>
            <div *ngIf="email.errors?.['email']">
              {{
                "register.validEmail"
                  | translate : languageService.locale.language
              }}
            </div>
          </small>
        </div>
        <div class="field">
          <input
            type="password"
            formControlName="password"
            name="password"
            placeholder="{{
              'register.password' | translate : languageService.locale.language
            }}"
            [class.error]="
              password.invalid && (password.dirty || password.touched)
            "
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="p-error"
          >
            <small *ngIf="password.errors?.['required']">
              {{
                "register.passwordRequired"
                  | translate : languageService.locale.language
              }}
            </small>
            <small *ngIf="password.errors?.['minlength']">
              {{
                "register.passwordMinLength"
                  | translate : languageService.locale.language
              }}
            </small>
          </div>
        </div>
        <div class="field">
          <input
            type="password"
            formControlName="confirmPassword"
            name="confirmPassword"
            placeholder="{{
              'register.confirmPassword'
                | translate : languageService.locale.language
            }}"
            [class.error]="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
          />
          <small
            *ngIf="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
            class="block p-error"
          >
            <div *ngIf="confirmPassword.errors?.['required']">
              {{
                "register.confirmPassword"
                  | translate : languageService.locale.language
              }}
            </div>
          </small>
          <small
            class="block p-error"
            *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
          >
            {{
              "register.passwordMismatch"
                | translate : languageService.locale.language
            }}
          </small>
        </div>
        <button [disabled]="registerForm.invalid" type="submit">
          {{ "register.SignUp" | translate : languageService.locale.language }}
        </button>
        <div class="addOption">
          {{
            "register.alreadyMember"
              | translate : languageService.locale.language
          }}
          <a routerLink="/login">{{
            "register.logIn" | translate : languageService.locale.language
          }}</a>
        </div>
      </form>
    </div>
  </div>
  <div class="backImage"></div>
</body>
